@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@font-face {
    font-family: 'Segoe Print';
    src: url('../font/segoepr.ttf');
    src: local('Segoe Print'), url('../font/segoeprb.ttf'), format('truetype');
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    background-color: #fff;
}
.tch-navbar {
    background-color: #191919 !important;
}
.uk-navbar-nav.tch-top-nav>li>a, .uk-navbar-item, .uk-navbar-toggle {
    min-height: 45px;
    padding: 0 12px;
}
.uk-navbar-nav>li.uk-active>a {
    position: relative;
    font-weight: 600;
    /*background: #441e08;*/
}
.uk-navbar-nav>li.uk-active>a:after {
    top: -17%;
    border: solid transparent;
    content: " ";
    height: 20px;
    width: 30px;
    position: absolute;
    background: url(../assets/active.svg) no-repeat;
}
/*.uk-navbar-nav>li.uk-active svg>* {
    fill: white;
}*/
.uk-dotnav>*>* {
    height: 40px;
    width: 40px;
    border: 2px solid #e4e4e4;
}
/* Hover + Focus */

.uk-dotnav>*> :hover, .uk-dotnav>*> :focus {
    background-color: #f0eeef;
}
/* OnClick */

.uk-dotnav>*> :active {
    background-color: #e98201;
}
/* Active */

.uk-dotnav>.uk-active>* {
    background-color: #e98201;
}
.slide-number>li.uk-active:after {
    color: #fff;
}
.tch-slide-previous, .tch-slide-next {
    height: 40px;
    width: 40px;
    padding: 5px;
    background-color: #363636;
    color: #fff;
    border-radius: 50%;
    margin: 0 15px;
    line-height: 5px;
}
.mobile-nav-close {
    position: relative;
    top: 0;
    width: 100%;
    padding: 12px;
    background-color: #1f0c01;
    color: #fff;
}
.tch-default-navbar {
    background-color: #2e1101 !important;
}
.uk-navbar-container:not(.uk-navbar-transparent){
    background-color: #fff;
}
.uk-navbar-nav.tch-default-nav>li>a, .uk-navbar-item, .uk-navbar-toggle {
    min-height: 55px;
    padding: 0 12px;
}
.front-img {
    height: 80vh;
}
@media (max-width: 640px) {
    .front-img {
        height: 40vh;
    }
}
.bubbles {
    position: absolute;
    bottom: -6px;
    width: 100%;
}
.bubbles-top {
    transform: rotate(180deg);
    position: absolute;
    top: -2px;
    z-index: 1;
    width: 100%;
}
.segoe-font {
    font-family: 'Segoe Print', sans-serif;
    font-weight: normal;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
}
.b-color {
    color: #a34b0b;
}
.tch-color {
    color: #341002;
}
.courses-panel {
    background-color: #f8f6f7;
    box-shadow: 0px 3px 6px -3px;
}
.courses-text {
    color: #41a2cf;
}
.demo-work {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.tch-offer-bg {
    position: absolute;
    -webkit-filter: brightness(30%);
    filter: brightness(30%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
}
.coil-pot-container {
    padding: 10px;
    background-color: #efefef;
    border-radius: 50%;
    -webkit-box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.75);
}
/*.slide-imgs img {
    height: auto
}*/
.tch-clay-fun-box {
    -webkit-box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.75);
}
.funwithclay {
    position: absolute;
    top: 0;
    right: 13%;
    height: 150px;
    width: 150px;
    z-index: 1000;
}
.tch-btn-dark {
    background-color: #191919;
    color: #fff;
}
.tch-btn {
    background-color: #f9961e;
    color: #fff;
}
.tch-footer {
    background-color: #2e1101;
}
.scroll-top {
    position: fixed;
    bottom: 10px;
    right: 25px;
}
.footer-copyright {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    background-color: #191919;
    text-transform: uppercase;
    color: white;
    padding: 23px 25px;
}